@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>範例大學</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>歡迎光臨 範例大學</h2>
        <p>
            範例大學是一個示例應用程序，它
            演示如何在ASP.NET MVC 5 Web應用程序。
        </p>
    </div>
    <div class="col-md-4">
        <h2>從頭開始構建</h2>
        <p>您可以按照ASP.NET網站上的教程系列中的步驟來構建應用程序。</p>
        <p><a class="btn btn-default" href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc/">查看教程 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>下載</h2>
        <p><a class="btn btn-default" href="https://webpifeed.blob.core.windows.net/webpifeed/Partners/ASP.NET%20MVC%20Application%20Using%20Entity%20Framework%20Code%20First.zip">下載 &raquo;</a></p>
    </div>
</div>